#goods_wrap{
   height: 544px; 
}
.content{
    width: 1000px;
    margin: 0 auto;
}
.goods{
    height: 544px;
    box-sizing: border-box;
}
.box {
    box-sizing: border-box;
}

.show-image {
    position: relative;
    width: 430px;
    font-size: 0;
    border: 1px solid #ccc;
    overflow: hidden;
}

.show-image img {
    max-width: 100%;
    max-height: 100%;
}

.filter {
    position: absolute;
    left: 0px;
    top: 0;
    width: 60px;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    cursor: move;
    display: none;
}

.img-box {
    padding: 10px 0 0 0;
}

.img-box>li {
    display: inline-block;
    border: 1px solid transparent;
    width: 10%; 
}

.img-box>li img {
    max-width: 100%;
    max-height: 100%;
    /* display: flex; */
}

.img-box>li:hover,
.img-box>li.active {
    border: 1px solid #000;
}

.show-big-image {
    position: absolute;
    left: 700px;
    top: 0;
    width: 430px;
    height: 430px;
    overflow: hidden;
    border: 1px solid #eee;
    display: none;
}

.show-big-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 1080px;
}
.share{
    width: 100%;
    height: 30px;
    margin: 20px 20px 0 0;
    font-size: 10px;
    display: flex;
    border-bottom:1px solid #eee;
}
.share a{
    width: 16px;
    height: 16px; 
    background: url(../images/share.png) no-repeat;
    margin-left: 10px;
    display: block;
}
.share .qq-y{
    background-position: 0 0;
}
.share .sina{
    background-position: 0 -21px;
}
.share .rr{
    background-position: 0 -43px;
}
.share .qq{
    background-position: 0 -65px;
}
.share .qq-z{
    background-position: 0 -85px;
}
.good-spec a{
    display: block;
    float: left;
}
.good-spec a img{
    padding: 1px;
}
.good-spec li{
    float: left;
    margin: 3px;
}
.hightline ul{
    margin-right: 30px;
}
.hightbox table th,.hightbox{
    padding: 3px 0;
}
.hightbox table th{
    width: 75px;
}
.goodnamewrap{
    width: 100%;
    height: 54px;
    border-bottom:1px solid #ccc; 
}
.goodsname{
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    width: 435px;
}
.goodnamewrap span{
    float: right;
    font-size: 12px;
    font-weight: normal;
}
.goodnamewrap span a{
    font-size: 12px;
    color: coral;
}
.goods-price{
    margin: 8px 5px 10px;
    display: block;
    border-bottom: 1px solid #ccc;
}
.goods-price li{
    font-size: 12px;
    color: #666;
    display: block;
    line-height: 25px;
    vertical-align: middle;
}
.salePrice_big{
    color: #d00;
    font-size: 18px;
    font-weight: 700;
    font-family: Verdana;
}
.saleTag{
    display: inline-block;
    height:20px;
    padding: 0px 5px;
    color: #fff;
    background: #ff9090;
    border-radius: 2px;
    margin-left: 6px;
}
.comCount{
    color: blue;
}
.comCountBar, .comCountBar i{
    overflow: hidden;
    width: 60px;
    display: inline-block;
    height: 11px;
    background: url(../images/pro_detial_icon1.png) no-repeat -99px -179px;
}
.comCountBar i{
    background-position: -99px -172px;
}
.push_sale{
    padding: 10px 0 5px;
    font-family: '宋体';
    clear: both;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}
.push_sale .sbg{
    background: #ffe9e9;
    height: 20px;
}
.push_sale .t{
    height:20px;
    padding: 0 5px;
    text-align: center;
    border-right:2px solid #fff;
    float: left;
    color: #fff;
    background: #ff9090;
}
.push_sale .scon{
    padding: 0 5px;
    height: 20px;
    color: #fe6464;
    float: left;
    white-space: nowrap;
}
.hightline{
    margin-top: 5px;
}
.hightbox{
    background: #f5f5f5;
    padding: 7px 2px;
}
.selectbox li{
    padding: 4px 6px;
    line-height: 15px;
    border: 1px solid #ccc;
    word-break: break-all;
}
.selectbox li.select{
    border: 2px solid #f90; 
}
.spec-item ul li img{
    width: 28px;
    height: 28px;
    border: 2px solid #f90;
}
.buyinfo{
    line-height: 2em;
}
.buyinfo .numadjust{
    display: inline-block;
    height: 15px;
    width: 15px;
    overflow: hidden;
    background: url(../images/pro_detial_icon1.png) no-repeat;
    cursor: pointer;
    margin: 6px 3px;
    float: left;
}
.buyinfo .derease{
    background-position: 0 -301px;
}
.buyinfo .increase{
    background-position: -16px -301px;
}
.buyinfo input{
    border: 1px solid #e0e0e0;
    height: 16px;
    width: 26px;
    line-height: 16px;
    text-align: center;
    margin: 3px;
    float: left;
    color: #555;
    font-size: 12px;
}
.buyinfo a{
    background: url(../images/pro_detial_icon1.png) no-repeat;
    display:block;
    height: 25px;
    width: 95px;
    background-position: 0 -207px; 
    float: right;
}
.btnbar{
  height: 58px;
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding-top:5px; 
  border-top: 1px solid #ccc;
  margin-top: 12px;
}
.btnbar .buynums{
    padding: 0 3px;
    color: #c00;
    font-size: 700;
    font-family: '宋体'；
}
.btnbar .buycm{
    padding: 0 3px;
    color: #c00;
    font-size: 700;
    font-family: '宋体'；
}
.btnbar .btnbox{
    width: 171px;
    height:46px;
    text-align: right;
    float: left;
    vertical-align: bottom;
}
.btn-buy{
    width: 171px;
    height: 44px;
    background: url(../images/pro_detial_icon1.png) no-repeat -3px -126px;
    float: right;
}
.fast-buy{
    float: left;
    width: 137px;
    height: 44px;
    background: url(../images/pro_detial_icon1.png) no-repeat -3px -449px;
}
.actbtn{
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.baozheng{
    border-top:1px solid #ccc; 
    clear: both;
    color: #777;
    font-family: '宋体';
    padding:10px 0;
}
.baozheng img{
    vertical-align: middle;
}
.server{
    padding-top:5px;
    background: 0; 
     
}
.server i{
    color: #999;
}