#mxd {
    width: 100%;
    height: 100%;
}

/* header区域 */
#mxd .header {
    width: 100%;
    height: 26px;
    background: #eee;
    border: 1px solid #e5e5e5
}

.header .header-t {
    float: right;
    width: 1189;
    height: 25px;
    padding-right: 1px;
    float: right;
}

.header .header-t>li {
    float: left;
    height: 25px;
    padding: 0 15px;
    background: url(../images/mxd.gif) no-repeat right center;
    position: relative;
}

.header .header-t>li a {
    font-size: 12px;
    color: #323232;
    height: 25px;
    line-height: 25px;
}

.header .header-t>li div ul li:hover {
    background: rgb(205, 247, 19);
}

.header .header-t>li .span1 {
    background-image: url(../images/mxd3.gif)no-repeat;
}

.header .header-t>li a:hover {
    color: #fb6800;
    text-decoration: underline;
}

.header .header-t>li:nth-child(1) a {
    color: #fb6800;
    margin-left: 8px;
}

.header .header-t>li:nth-child(2) div {
    position: absolute;
    right: -1px;
    top: 25px;
    height: 80px;
    width: 150px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    display: none;
    border-top: none;
}

.header .header-t>li:nth-child(2) div ul {
    float: left;
    width: 65px;
}

.header .header-t>li:nth-child(2) div ul:nth-child(2) {
    margin-left: 20px;
}

.header .header-t>li:nth-child(2) div ul li {
    height: 25px;
    border-bottom: 1px dashed #ccc;
    padding-left: 5px;
}

.header .header-t>li:nth-child(2):hover {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
}

.header .header-t>li:nth-child(2):hover div {
    display: block;
    z-index: 20;
}

.header .header-t>li:nth-child(3) {
    position: relative;
}

.header .header-t>li:nth-child(3) div {
    width: 230px;
    height: 140px;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    right: -1px;
    top: 25px;
    display: none;
}

.header .header-t>li:nth-child(3) div img {
    float: left;
    margin: 10px;
}

.header .header-t>li:nth-child(3) div img:nth-child(2) {
    margin-left: 0;
}

.header .header-t>li:nth-child(3):hover {
    padding-left: 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
}

.header .header-t>li:nth-child(3):hover>img {
    display: none;
}

.header .header-t>li:nth-child(3):hover div {
    display: block;
    z-index: 20;
    background: #fff;
}

.header .header-t>li:nth-child(6) a {
    font-size: 16px;
    color: #bc0c17;
    font-weight: bold;
    font-style: italic;
}

.header .header-t>li:nth-child(6) a:hover {
    text-decoration: none;
    color: #bc0c17;
}

/* logo区域 */
.logo .logo-right {
    margin-top: 8px;
    padding-left: 46px;
    width: 80px;
    height: 34px;
    border: 1px solid #d7d7d7;
    background: url(../images/MXK/default_icon_bg.png);
    background-position: 0px -64px;
}

.logo-right a {
    font-size: 12px;
    color: #646464;
    line-height: 34px;
}

.logo-right a span {
    color: #d10005;
    margin: 0 4px;
}

.logo .logo-right:hover {
    background: url(../images/MXK/default_icon_bg.png);
    background-position: 0px -98px;
}


/* logo区域 */

#mxd .logo {
    width: 100%;
    height: 64px;
    background-color: #fff;
    padding: 10px 0;
}

.logo h1 {
    float: left;
    text-indent: -100000px;
}

.logo-left a {
    float: left;
    display: inline-block;
    height: 64px;
    width: 421px;
    background: url(../images/MXK/default_icon_bg.png);
    background-position: 0 0px;
}



.logo .logo-center {
    float: left;
    width: 403px;
    margin-left: 120px;
    margin-top: 8px;

}

.logo-center dt input {
    float: left;
    border: 2px solid #ccc;
    border-right: none;
    width: 336px;
    height: 26px;
}

.logo-center dl dt button {
    float: left;
    width: 63px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-left: 2px solid #434343;
    background: #434343;
}

.logo-center dl dd {
    float: left;
    height: 28px;
    padding-bottom: 2px;
    margin-right: 5px;
}

.logo-center dl dd a:hover {
    color: #fb6800;
    text-decoration: underline;
}

.logo-center dl .list {
    font-size: 12px;
    color: #cdcdcd;
    margin-right: 6px;
    height: 28px;
    line-height: 28px;
}

.logo-center dl dd a {
    font-size: 12px;
    color: #888;
    height: 28px;
    line-height: 28px;
}