#mxd .nav {
    width: 100%;
    height: 34px;
    background: #a21f25;
    position: relative;
}

.nav-left>ul>li {
    position: relative;
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
    background: url(../images/mxd6.gif)no-repeat right center;
}

.nav-left>ul>li:nth-child(1) {
    padding: 0;
    width: 184px;
    background: url(../images/Mxk/default_icon_bg.png);
    background-position: -128px -64px;
}

.nav-left>ul>li:nth-child(2) {
    background: #000;
}

.nav-left>ul>li:nth-child(7) {
    background: none;
}

.nav-left>ul>li>a {
    font-size: 14px;
    color: #fdfdfd;
}

.nav-left>ul>li:hover {
    background: rgb(0, 15, 15);
}

.nav-left>ul>li>div {
    position: absolute;
    left: 0;
    top: 34px;
    width: 650px;
    height: 300px;
    background: #fff;
    display: none;
}

.nav-left>ul>li>div>dl {
    float: left;
    width: 110px;
    height: 280px;
    padding: 10px 30px 10px 10px;

}

.nav-left>ul>li>div>dl:nth-child(3) {
    width: 280px;
    padding-right: 50px;
}

.nav-left>ul>li>div>dl>dt {
    font-size: 16px;
    color: #222;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.nav-left>ul>li>div>dl>dd {
    height: 24px;
}

.nav-left>ul>li>div>dl>dd>a {
    color: #aaa;
    font-size: 12px;
}

.nav-left>ul>li>div>dl:nth-child(3)>dd {
    float: left;
    margin: 2px;
    width: 70px;
    height: 36px;
    border: 1px solid #fff;
}

.nav-left>ul>li>div>dl:nth-child(3)>dd>a {
    display: block;
}

.nav-left>ul>li:hover>div {
    display: block;
}

.nav-left>ul>li:hover>div dl dd:hover a {
    color: #fb6800;
    text-decoration: underline;
}

.nav-left>ul>li:hover>div>dl:nth-child(3) dd:hover {
    border: 1px solid #ccc;
}

.nav-left>ul>li:nth-child(5)>div>div {
    float: left;
    width: 110px;
    height: 280px;
    padding: 10px 30px 10px 10px;
}

.nav-left>ul>li:nth-child(5)>div>div dl {
    height: 140px;
}

.nav-left>ul>li:nth-child(5)>div>div dl dt {
    font-size: 16px;
    color: #222;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

.nav-left>ul>li:nth-child(5)>div>div dl dd {
    height: 24px;
}

.nav-left>ul>li:nth-child(5)>div>div>dl>dd>a {
    color: #222;
    font-size: 12px;
}

.nav-left>ul>p {
    position: relative;
    float: left;
    width: 165px;
    height: 34px;
    padding: 0;
    background: url(../images/MXK/wx.gif);
}

.nav-left>ul>p>img {
    position: absolute;
    top: 34px;
    left: 0;
    width: 165px;
    height: 165px;
    display: none;
}

.nav-left>ul>p:hover {
    background: url(../images/MXK/wx.gif);
}

.nav-left>ul>p:hover>img {
    display: block;
}

.nav-left>ul>li:nth-child(1)>ul {
    position: absolute;
    top: 34px;
    left: 4px;
    display: none;
    background-color: #1f1909;
}

.nav-left>ul>li:nth-child(1)>ul>li {
    padding-left: 40px;
    background-color: #1f1909;
    width: 140px;
    height: 40px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(1) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -48px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(2) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -92px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(3) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -135px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(4) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -187px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(5) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -233px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(6) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -280px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(7) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -330px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(8) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -376px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(9) {
    background: url(../images/MXK/navcats_icon.png)no-repeat 12px -420px;
}


.nav-left>ul>li:nth-child(1)>ul>li>a {
    color: #fff;
    font-size: 12px;
    line-height: 40px;
}

.nav-left>ul>li:nth-child(1)>ul>li>span {
    margin-top: 15px;
    float: right;
    width: 0;
    height: 0;
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    display: none;
}

.nav-left>ul>li:nth-child(1):hover {
    background: url(../images/Mxk/default_icon_bg.png);
    background-position: -126px -98px;
}

.nav-left>ul>li:nth-child(1):hover>ul {
    display: block;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(1):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -48px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(2):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -92px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(3):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -135px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(4):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -187px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(5):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -233px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(6):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -280px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(7):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -330px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(8):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -376px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(9):hover {
    background: url(../images/MXK/navcats_icon.png)no-repeat 22px -420px;
}

.nav-left>ul>li:nth-child(1):hover>ul>li:hover {
    background-color: #a21f25;
    width: 110px;
    padding: 0 20px 0 50px;
}

.nav-left>ul>li:nth-child(1):hover>ul>li:hover>span {
    display: block;
}

.nav-left>ul>li:nth-child(1):hover>ul>li:hover>div {
    display: block;
}

.nav-left>ul>li:nth-child(1)>ul>li>div {
    width: 260px;
    height: 360px;
    padding: 0 20px;
    background: #fff;
    position: absolute;
    left: 180px;
    top: 0;
    display: none;
}

.nav-left>ul>li:nth-child(1)>ul>li>div>dl>dt {
    height: 35px;
    border-bottom: 1px solid #222;
}

.nav-left>ul>li:nth-child(1)>ul>li>div>dl>dt>a {
    display: inline-block;
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

.nav-left>ul>li:nth-child(1)>ul>li>div>dl>dt>span {
    float: right;
    color: #222;
    font-size: 12px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(1)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -25px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(1)>div>dl:nth-child(2)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -75px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(2)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -120px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(2)>div>dl:nth-child(2)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -170px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(3)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -215px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(3)>div>dl:nth-child(2)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -265px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(4)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -310px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(5)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -355px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(6)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -405px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(7)>div>dl:nth-child(1)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -450px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(7)>div>dl:nth-child(2)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -500px;
}

.nav-left>ul>li:nth-child(1)>ul>li:nth-child(7)>div>dl:nth-child(3)>dt>a {
    padding-left: 50px;
    background: url(../images/MXK/lf_pop_icon.png)no-repeat -20px -640px;
}


.nav-left>ul>li:nth-child(1)>ul>li>div dl dd a {
    display: inline-block;
    padding-right: 6px;
    color: #aaa;
    font-size: 12px;
}

.nav-left>ul>li:nth-child(1):hover>ul>li:hover>div>dl>dt>a:hover {
    margin-left: 5px;
}

.nav-left>ul>li:nth-child(1):hover>ul>li:hover>div>dl>dd>a:hover {
    color: #fb6800;
    text-decoration: underline;
}


/* 右边 */
.nav .nav-right {
    position: relative;
}

.nav-right p {
    display: flex;
    height: 34px;
    align-items: center;
}

.nav-right p span {
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.nav-right p span:nth-child(1) {
    width: 118px;
    height: 17px;
    background: url(../images/MXK/zp.png);
    background-position: -2px -12px;

}

.nav-right p span:nth-child(2) {
    width: 79px;
    height: 21px;
    background: url(../images/MXK/zp.png);
    background-position: 167px -10px;

}

.nav-right p span:nth-child(3) {
    width: 80px;
    height: 20px;
    background: url(../images/MXK/zp.png);
    background-position: 80px -11px;

}